* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

#menu .max {
    height: 60px;
    line-height: 60px;
    list-style-type: none;
    background: #E6E6E6;
    text-align: center;
}

#menu .max li {
    display: inline-table;
    width: 120px;
    position: relative;
}

#menu .max li a {
    color: black;
    text-decoration: none;
    display: block;
}

#menu .max li a:hover {
    background: white;
    color: brown;
}

#menu .max li > .sub {
    display: none;
    position: absolute;
}

#menu .max li:hover .sub {
    display: block;
    background: #E6E6E6;
}

body {
    font-family: Arial, serif;
    color: cadetblue;
}

#anh_bia {
    height: 100px;
    width: 100%;
    line-height: 100px;

}

#anh_bia #fixed {
    width: 100%;
    background: white;
    position: fixed;
    z-index: 3;
    box-shadow: 1px 1px 2px #666666;
}

#anh_bia img {
    margin-left: 50px;
    padding-top: 10px;
    height: 80px;
    width: 80px;
    float: left;
    padding-right: 50px;
}

.header {
    height: 60px;
    background-color: #f1f4f5
}

.header h2 {
    margin-left: 20px;
}

.nav {
    height: 50px;
    background-color: #f1f4f5;
    margin-top: 5px;
}

.main {
    height: 500px;
    width: 100%;
    margin-top: 10px;
}

.left {
    height: 500px;
    background-color: #f1f4f5
}

.right {
    height: 500px;
    background-color: #f1f4f5
}

.box-one, .box-two, .box-three {
    margin: 0 auto;
    height: 100px;
    background-color: #c8d1dd;
    border-radius: 5px;
    margin-top: 62px;
    margin-bottom: -17px;
}

.left-top {
    height: 250px;
    background-color: #f1f4f5
}

.left-bottom {
    height: 250px;
    background-color: #f1f4f5
}

.footer {
    height: 50px;
    background-color: #f1f4f5
}

body {
    font-family: Verdana, sans-serif;
    font-size: 0.9em;
}

header, footer {
    padding: 10px;
    color: white;
    background-color: black;
}

section {
    margin: 5px;
    padding: 10px;
    background-color: lightgrey;
}

article {
    margin: 5px;
    padding: 10px;
    background-color: white;
}

nav ul {
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 5px;
}
